.tinder__cards {
  height: 100%;
  position: relative;
}

.card {
  position: relative;
  background-color: #fff;
  width: 320px;
  height: 400px;
  /* box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3); */
  border-radius: 24px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.cards__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (56px + 84px));
}

.swipe {
  position: absolute;
}

.card__content {
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  padding: 20px;
  position: relative;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 10%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.35) 30%, rgba(0, 0, 0, 0) 80%);
  display: flex;
  flex-direction: column-reverse;
}

.card__content h3 {
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}

.card__content p {
  color: #aaa;
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 12px;
}