.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #f4f4f4;
  padding: 0.5rem;
  background-color: #fff;
  z-index: 0;
}

.header__logo {
  height: 30px;
  object-fit: contain;
}

.header a:not(.active) {
  filter: grayscale(1) opacity(0.5);
}

.header a.active button {
  color: red;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  border-bottom: 1px solid #eee;
  padding: 0.5rem;
  background-color: #fff;
  z-index: 0;
}

.chat-header.has-title>span {
  margin: auto;
  padding-right: 48px;
}

.chat-header>span {
  color: #555;
}

.chat-header a.back button {
  padding-left: 16px;
  padding-right: 8px;
}

.chat-header a.back button,
.chat-header button {
  color: red;
}