body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.App {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 72px 1fr 84px;
  user-select: none;
}